@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(44, 43, 43);
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form {
  padding:  20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #ccc;
}

.TableHeader {
  background-color: #474444;
}

.TableBody {
  background-color:rgb(126, 116, 116);
}

.formtitle {
  text-align: center;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
  
}

.name_label { 
  color: #a09b9b;
  margin: 0 0 0 7px;
  transition: 0.3ms;
}

.headstyle {
  background: linear-gradient(#3f3f3f, rgb(44, 43, 43));
  height: 40px;
}

.body {
  background-color: rgb(44, 43, 43);
  height: 80vh;
  width: 100%;
}

.headli {
  padding: 30px;
  display: inline;
}

.headul {
  display: inline;
}

.linkstyle {
  text-decoration: none;
  font-size: 20px;
  color: #a09b9b;
}